* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background-image: linear-gradient(to right, #b6b9c1, #d1d5de);
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

li {
  color: #2c2c2c;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 16px;
  background-image: linear-gradient(
    to right,
    #b6b9c1,
    rgba(167, 172, 185, 0.479)
  );
  border: 1px solid #58595e;
  transition: transform 1s, border 1s, color 0.25s;
}

li:hover {
  color: white;
  font-weight: 800px;
  transform: scale(1.05);
  border: 2px solid #90929b;
}

h1 {
  font-size: 6rem;
  position: absolute;
  flex: 1;
  align-self: center;
  color: white;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

header {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  max-height: 350px;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.services {
  margin: 8px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service {
  background-color: #515a707c;
  color: white;
  padding: 8px 8px 0px 0px;
  text-align: justify;
  min-height: 150px;
}

.service:hover {
  background-color: #777f9480;
}

.service h2 {
  margin: 11px 16px;
  font-size: 1.5rem;
}

.service p {
  margin: 8px 16px;
}

.gallery {
  display: grid;
  margin: 8px 8px 16px 16px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  position: relative;
}

.about {
  margin: 8px 16px;
  padding: 8px 8px 0px 0px;
  background-color: #686f8280;
  color: white;
  box-shadow: rgba(88, 88, 88, 0.342);
}

.about:hover {
  background-color: #777f9480;
}

.about p {
  margin: 8px 16px;
  padding-top: 8px;
  columns: 2;
}

.about h2 {
  margin: 8px 16px;
  font-size: 3rem;
}

.footer {
  background-color: black;
  text-align: center;
  line-height: normal;
  color: #999;
  padding: 1rem;
}

.gallery-text {
  color: white;
  position: absolute;
  z-index: 3;
  margin: 8px 16px;
}

.gallery-text h2 {
  font-size: 3rem;
}

.gallery img {
  z-index: 2;
  transition: transform 0.5s;
}
.gallery img:hover {
  transform: scale(1.1);
  box-shadow: rgba(88, 88, 88, 0.342);
}
